<footer>
    <nav>
        <ul id="footer">
            <li id="li_footer">
                <button id="btn_footer">Haz click aqui para mas contenido</button>
            </li>
        </ul>
    </nav>
</footer>
<script src="/public/generic_bottom.js"></script>