<footer>
    
        <ul id="footer">
            <li id="li_footer">
                <button id="btn_footer" onclick="window.location.href = '/formulario'">Queremos saber más de ti</button>
            </li>
        </ul>
    
</footer>
<script src="/public/generic_bottom.js"></script>