<header>
    <nav>
        <ul id="navbar">
            <li><a title="Home" href="/indice"><img src="images/home_FILL1_wght500_GRAD0_opsz40.svg"
                        alt="casita" /></a></li>
            <li><a title="GetBack" href="/indice"><img src="images/arrow_back_FILL1_wght500_GRAD0_opsz40.svg"
                        alt="IrAtrás" /></a></li>
            <p>Contraste del color</p>


        </ul>
    </nav>
</header>