* {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#tono_bcgd{
    background-image: url(images/tono.gif);
}

#saturacion_bcgd{
    background-image: url(images/SATURACIÓN.gif);
}

#matiz_bcgd{
    background-image: url(images/MATIZ.gif);
}

#luminosidad_bcgd{
    background-image: url(images/LUMINOSIDAD.gif);
}
.square{
    float: right;
    margin-top: 22%;
    margin-right: 2%;
    padding: 1%;
    background-color: #ffffff;
    border: 3px solid #000000;
    color: #000000;
    width: 30%;
    font-weight: bold;
}
