<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/cualidades.css" />
    <title>Menu cualidades</title>
</head>

<body>
    {{> nav_cualidades}}
    <main>
        <div id="cualidades_btn">
            <button class="generic_btn"><a href="/tono" class="generic_btn_tittle">TONO</a></button>
            <button class="generic_btn"><a href="/saturacion" class="generic_btn_tittle">SATURACIÓN</a></button>
            <button class="generic_btn"><a href="/matiz" class="generic_btn_tittle">MATIZ</a></button>
            <button class="generic_btn"><a href="/luminosidad" class="generic_btn_tittle">LUMINOSIDAD</a></button>
        </div>
    </main>
    </div>

    {{> footer}}
    <script src="generic_bottom.js"></script>

</body>

</html>