<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/cualidades.css" />
    <link rel="stylesheet" href="CSS/generic square.css">
    <link rel="stylesheet" href="CSS/footer.css" />
    <title>LUMINOSIDAD</title>
</head>

<body id="luminosidad_bcgd">
    {{> nav_cualidades}}
    <main>
        <div class="square">
            <div class="frame_square">
            <p class="letra_square">La luminosidad es la proporción o los niveles de blanco o de negro
                que contiene un color. La luminosidad es la encargada de calificar a un color como claro u oscuro.
                A mayor porcentaje de blanco, más luminoso será un color. Como en la animación, tenemos de ejemplo cómo el azul va aumentando su luminosidad 
                hasta quedar en un celeste claro.
            </p>
                </div>
        </div>
    </main>

    {{> footer}}
    <script src="generic_bottom.js"></script>
</body>

</html>