<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/cualidades.css" />
    <link rel="stylesheet" href="CSS/generic square.css">
    <link rel="stylesheet" href="CSS/footer.css" />
    <title>MATIZ</title>
</head>

<body id="matiz_bcgd">
    {{> nav_cualidades}}
    <main>
        <div class="square">
            <div class="frame_square">
            <p class="letra_square">No debemos confundir tono con matiz. El matiz son las diferentes variaciones que experimenta un color (tono),
                conforme se va mezclando con otros colores -en proporciones variables- sin perder su car치cter dominante dentro de la mezcla. Por ejemplo los matices de la animaci칩n,
                se forman cuando el color amarillo se va mezclando con otros colores. En dichas mezclas, el color amarillo siempre guardar치 su car치cter representativo.
            </p>
                </div>
        </div>
    </main>
    {{> footer}}
    <script src="generic_bottom.js"></script>
</body>

</html>