<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/cualidades.css" />
    <link rel="stylesheet" href="CSS/generic square.css">
    <link rel="stylesheet" href="CSS/footer.css" />
    <title>SATURACION</title>
</head>

<body id="saturacion_bcgd">
    {{> nav_cualidades}}
    <main>
        <div class="square">
            <div class="frame_square">
                <p class="letra_square">La saturación es el grado de pureza de un color, es la propiedad que define la intensidad del mismo.
                    La saturación de un color se modifica de 4 formas: Adición hacia el blanco, adición hacia el negro, adición de gris y adición de su color complementario.
                    En el caso de la animación podemos observar un ejemplo de adición de gris.
                </p>
            </div>
        </div>
    </main>
    {{> footer}}
    <script src="generic_bottom.js"></script>
</body>

</html>