<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/cualidades.css" />
    <link rel="stylesheet" href="CSS/generic square.css">
    <link rel="stylesheet" href="CSS/footer.css" />
    <title>TONO</title>
</head>

<body id="tono_bcgd">
    {{> nav_cualidades}}
    <main>
        <div class="square">
            <div class="frame_square">
            <p class="letra_square">Define a un color -como tal- mediante su grado de cromatismo máximo, que está determinado
                por su longitus de onda. Cada color nace a partir de ondas luminosas, las cuales poseen una longitud que permiten
                identificarlos con exactitud. El tono identica a todos los colores que conforman el especto visible: amarillo, azul,
                rojo, verde, naranja y violeta. Podemos ver un ejemplo de tonos en la animación.
            </p>
                </div>
        </div>
    </main>
    {{> footer}}
    <script src="generic_bottom.js"></script>
</body>

</html>