<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/contraste.css" />
    <title>Menu cualidades</title>
</head>

<body>
    {{>header}}
    <main>
        <div id="cualidades_btn">
            <button class="generic_btn"><a href="Tono.html" class="generic_btn_tittle">EN SÍ MISMO</a></button>
            <button class="generic_btn"><a href="Saturación.html" class="generic_btn_tittle">CLARO OSCURO</a></button>
            <button class="generic_btn"><a href="Matiz.html" class="generic_btn_tittle">CALIENTE FRÍO</a></button>
            <button class="generic_btn"><a href="Luminosidad.html"
                    class="generic_btn_tittle">COMPLEMENTARIOS</a></button>
            <button class="generic_btn"><a href="Tono.html" class="generic_btn_tittle">SIMULTÁNEO</a></button>
            <button class="generic_btn"><a href="Saturación.html" class="generic_btn_tittle">CUALITATIVO</a></button>
            <button class="generic_btn"><a href="Matiz.html" class="generic_btn_tittle">CUANTITATIVO</a></button>

        </div>
    </main>
    </div>
    <script src="JS/generic_bottom.js"></script>
</body>

</html>