<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/cualidades.css" />
    <link rel="stylesheet" href="/public/CSS/generic square.css">
    <title>TONO</title>
</head>

<body id="tono_bcgd">
    {{> nav_cualidades}}
    <main>
        <div class="square">
            <p class="letra_square">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla porro laboriosam
                consequatur eveniet labore assumenda praesentium tempora nesciunt a enim nisi blanditiis id, perferendis
                laborum et, pariatur amet commodi? Aliquid?</p>
        </div>
    </main>
    {{> footer}}
    <script src="JS/generic_bottom.js"></script>
</body>

</html>